# keymaps for OSX
'.platform-darwin .workspace':
  'cmd-ctrl-c': 'compare-files:compare'

# commands for windows and Linux due to their lack of an cmd key
'.platform-win32 .workspace':
  'ctrl-alt-c': 'compare-files:compare'

'.platform-linux .workspace':
  'ctrl-alt-c': 'compare-files:compare'
